<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">    
    <xacro:include filename="inertial_macros.xacro"/>
    <xacro:include filename="soporte_core.xacro" />
    <xacro:include filename="soporte_camera.xacro" />
    <xacro:include filename="lidar.xacro" />
    <xacro:include filename="box.xacro" />
    
    <xacro:box parent="base_footprint">
        <origin xyz="0.0 0 0.0" rpy="0 0 0"/>
    </xacro:box>
    <xacro:camera_base parent="base_footprint">
        <origin xyz="0.0 0.0 0.06" rpy="0.0 0.0 0.0"/>
    </xacro:camera_base>
    <xacro:lidar parent="base_footprint">
        <origin xyz="0.0 0.0 0.11" rpy="0.0 0.0 0.0"/>
    </xacro:lidar>
</robot>